In [4]:
import pandas as pd
df = pd.read_csv('food_inspections.csv')
df.head()

,DBA Name,Facility Type,Risk,Address,Zip,Inspection Date,Inspection Type,Results,Violations
0,DANY'S TACOS,Restaurant,Risk 1 (High),2857 S ST LOUIS AVE,60623.0,03/27/2017,License,Fail,"16. FOOD PROTECTED DURING STORAGE, PREPARATION..."
1,BILLY FOOD MARKET INC,NaN,Risk 3 (Low),3906 W ROOSEVELT RD,60624.0,03/27/2017,License,Not Ready,NaN
2,TAQUERIA HACIENDA TAPATIA,Restaurant,Risk 1 (High),4125 W 26TH ST,60623.0,03/27/2017,License Re-Inspection,Pass,2. FACILITIES TO MAINTAIN PROPER TEMPERATURE -...
3,WILD GOOSE BAR & GRILL,Restaurant,Risk 1 (High),4265 N LINCOLN AVE,60618.0,03/27/2017,Canvass,Fail,"16. FOOD PROTECTED DURING STORAGE, PREPARATION..."
4,PUBLICAN TAVERN K1,Restaurant,Risk 1 (High),11601 W TOUHY AVE,60666.0,03/27/2017,Canvass,Fail,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...

In [5]:
df.columns

Index(['DBA Name', 'Facility Type', 'Risk', 'Address', 'Zip',
       'Inspection Date', 'Inspection Type', 'Results', 'Violations'],
      dtype='object')

## Exercise 1
The current DataFrame has a simple `RangeIndex`. Let make the **`DBA Name`** column the index to make it more meaningful. Save the result to variable **`df`** and output the first five rows with the **`head`** method.

## Exercise 2
Select the **`Risk`** column as a Series with just the indexing operator. Also select it with attribute access.

## Exercise 3
Select the **`Risk`** and **`Results`** columns

## Exercise 4
Select a single column as a DataFrame

## Exercise 5
Select the row for the restaurant **`WILD GOOSE BAR & GRILL`**. What object is returned?

## Exercise 6
Select the rows for the restaurants **`WILD GOOSE BAR & GRILL`** and **`TAQUERIA HACIENDA TAPATIA`** along with columns **`Risk`** and **`Results`**.

## Exercise 7Â¶
What is the risk of restaurant **`SCRUB A DUB`**?

## Exercise 8
Select every 3,000th restaurant from **`THRESHOLD SCHOOL`** to **`SCRUB A DUB`** and the columns from **`Inspection Type`** on to the end of the DataFrame.

## Exercise 9
Select all columns from the 500th restaurant to the 510th

## Exercise 10
Select restaurants 100, 1,000 and 10,000 along with columns 5, 3, and 1

## Exercise 11
Select the **`Risk`** column and save it to a Series

## Exercise 12
Using the risk Series, select **`ARBYS`** and **`POPEYES FAMOUS FRIED CHICKEN`**